extends layout

block content

  br
  form(action="." method="POST" class="form-registration").main-section
    .row
      .col-sm-3
        label(for="doctor-1") Doctor
        input(
          type="text"
          id="doctor-1"
          name="doctor-1"
          class="form-control"
        )
      .col-sm-3
        label(for="patient-1") Patient
        input(
          type="text"
          id="patient-1"
          name="patient-1"
          class="form-control"
        )
      .col-sm-3
        label(for="room-1") Room 
        input(
          type="text"
          id="room-1"
          name="room-1"
          class="form-control"
        )
      .col-sm-3
        label(for="disease-1") Disease          
        input(
          type="text"
          id="disease-1"
          name="disease-1"
          class="form-control"
        )
    br

    .row
     .col-sm-2.offset-sm-5
      input(
        type="submit"
        value="Delete"
        class="btn btn-lg btn-primary btn-block"
      )
