extends layout

block content

    table.table-fill.treatment
      thead
        tr
          th.text-left no 
          th.text-left patient_id
          th.text-left doctor_id
          th.text-left room
          th.text-left disease
          th.text-left valid_start
          th.text-left valid_end
      tbody.table-hover
       - var d = JSON.parse(data)
       each val, index in d 
        tr
          - var x = val.content.treatment
          - var y = val.metadataValues
          td.text-left= index+1 
          td.text-left= x.patient_id 
          td.text-left= x.doctor_id 
          td.text-left= x.room 
          td.text-left= x.disease
          td.text-left= y.validStart
          td.text-left= y.validEnd 
