extends layout

block content

  br
  form(action="/treatment/insert" method="POST" class="form-registration").main-section
    .row
      .col-sm-3
        label(for="doctor-1") Doctor
        input(
          type="text"
          id="doctor-1"
          name="doctor_id"
          class="form-control"
        )
      .col-sm-3
        label(for="patient-1") Patient
        input(
          type="text"
          id="patient-1"
          name="patient_id"
          class="form-control"
        )
      .col-sm-3
        label(for="room-1") Room 
        input(
          type="text"
          id="room-1"
          name="room"
          class="form-control"
        )
      .col-sm-3
        label(for="disease-1") Disease          
        input(
          type="text"
          id="disease-1"
          name="disease"
          class="form-control"
        )
    br

    .row
      .col-sm-6
        label(for="start-time") Start Time
      .col-sm-6
        label(for="end-time") End Time
    .row
      .col-sm-4
        input(
          type="text"
          id="start-time"
          name="valid_start"
          class="form-control"
        )
      .col-sm-4
        input(
          type="text"
          id="end-time"
          name="valid_end"
          class="form-control"
        )
    br

    .row
     .col-sm-2.offset-sm-5
      input(
        type="submit"
        value="Insert"
        class="btn btn-lg btn-primary btn-block"
      )
